<header>
    <a class="logo" href="{{site.baseUrl}}">
        <img
            src="{{site.baseUrl}}images/logo.png"
            alt="Logo of {{site.title}}"
            title="{{site.title}}"
        >
    </a>
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
    <div class="title-nav-container">
    <h1>CreaTECH Solutions (Stewart Lynch)</h1>
    <nav>
        <div class="navigation">
            {{#navigation}}
            <a href="{{site.baseUrl}}{{url}}"{{#class}} class="{{.}}"{{/class}}>{{label}}</a>
            {{/navigation}}
        </div>
    </nav>
    </div>
</header>