/* Global Color Variables */
:root {
    --color-text: #333;
    --color-background-light: #f0f0f0;
    --color-background-dark: #1a1a1a;
    --color-orange: #FFA500;
    --color-gray: #808080;
    --color-white: #ffffff;
    --color-border-dark: #777;
}

img {
  width: 100%;
  height: auto;
}

.imageLink img {
  width: auto;
  height: auto;
}

/* General Styles */
body {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
    color: var(--color-text);
    background-color: var(--color-background-light);
}

/* Centered Layout Container */
header, footer, .page {
    max-width: 800px;
    margin: 0 auto;
}

/* Header Styling */
header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap; /* Allow header to wrap on smaller screens */
}

/* Logo Styling */
.logo {
    max-width: 100px;
    padding-right: 10px;
}

/* Title and Navigation Container */
.title-nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-nav-container h1 {
    margin: 0 0 10px 0;
}

/* Navigation Links */
nav {
    display: flex;
    gap: 10px;
}

/* Adjust navigation layout for mobile screens */
@media (max-width: 600px) {
    nav {
        flex-direction: column; /* Stack links vertically */
        width: 100%; /* Full width for each link */
    }

    nav a {
        text-align: center; /* Center-align links for better readability */
        width: 100%; /* Make links full width */
    }
}

nav a {
    background-color: var(--color-orange);
    color: var(--color-white);
    font-weight: bold;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: var(--color-gray);
    color: var(--color-orange);
}

nav a.active {
    background-color: var(--color-gray);
    color: var(--color-orange);
    border: 2px solid var(--color-orange);
}

/* Global Link Styling */
a {
    color: var(--color-orange);
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.3s;
}

a:hover {
    color: var(--color-gray);
    text-decoration: none;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 16px 0;
    color: var(--color-text);
    border-top: 1px dotted var(--color-text);
}

/* Light Mode */
@media (prefers-color-scheme: light) {
    body, footer {
        color: var(--color-text);
        background-color: var(--color-background-light);
    }
    footer a {
        color: var(--color-orange);
    }
    footer a:hover {
        color: var(--color-gray);
    }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body, footer {
        color: var(--color-background-light);
        background-color: var(--color-background-dark);
    }
    footer {
        border-top-color: var(--color-border-dark);
/*    }*/
}
}
